@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');


.login-page {
  width: 360px;
  padding: 20% 0 0;
  margin: auto;
  display: flex;
  
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
 /*  margin: 0 auto 100px; */
  border-radius: 10px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(116, 4, 106, 0.589), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 10px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Poppins", sans-serif;
  background: #8E04BF;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #7e04aa;
  scale: 1.04;
}

.form .message {
  font-family: "Poppins", sans-serif;
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #8E04BF;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
    background-image: url("src/Fondo_Login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}


/* CONFIGURACION MEDIA QUARY */

/* configuración banner inicial */

@media screen and (min-width: 180px) and (max-width: 1024px){

body {
  background-image: url("src/Fondo_Login_mobile.png");
  
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 560px;
 /*  margin: 0 auto 100px; */
  border-radius: 10px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(116, 4, 106, 0.589), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

}