@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');


/* CONFIGURACION DE LA BARRA DE NAVEGACION */
.navbar{
    position: fixed;
    background-color: #8E04BF;
    align-items: stretch;
    display: flex;
    width: 100%;
}

.navbar-menu{
    justify-content: space-between;
}

.navbar-menu > div {
    display: flex;
    flex-direction: row;
}

.navbar-item{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;

    margin-left: 10px;
    margin-right: 10px;
}


.navbar-item:hover{
    font-weight: 600;
    color: #8E04BF;

    background-color: #ffffff;
}


.navbar-burger-icon{
    margin: 20px;
    vertical-align: middle;
    display: flex;
    z-index: 10;
}   

.navbar-burger-icon img{
    cursor: pointer;
}

.cont-menu{
    background-color: rgb(42,42,42);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 500px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

.active{
    transform: translate(-600px);
}

.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.cont-menu ul li:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
}

.navbar-search-icon{
    margin: 20px;
    vertical-align: middle;
    display: flex;
}

.navbar-shop-icon{
    margin: 20px;
    vertical-align: middle;
    display: flex;
}

.navbar-user-icon{
    margin: 20px;
    vertical-align: middle;
    display: flex;
}

/* ----------------------------------------------------------------------------- */
/* Configuracion de la visualización de los productos */
.card_img{
    margin-top: 70px;
    width: 400px;
    height: auto;
}


.card_list{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.card_figure{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 70%;
    width: auto;
}

.card_article{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 80px;
    margin-right: 80px;
}

/* ---------------------------------------------------------------------------------- */
/* Configuración de los textos por producto */
h2 {
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;

    color: #8E8E8E;
}


/* ----------------------------------------------------------------------------- */
/* Seccion footer de le página */

.titulos-footer{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 800;

    color: #ffffff;
}

.textos-footer{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 100;

    color: #ffffff;
}

.textos-footer:hover{
    font-weight: 400;

    color: #ffffff;
}

.pie-de-pagina{
    background-color: #023373;
    display: grid;
    width: 100%;
    height: auto;
}

.primera-parte{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.tercera-parte{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.column-logo{
    display: inline-flex;
    margin-top: 10px;
}

.column-por-logo{
    display: grid;
    justify-content: space-between;
    /* box-sizing: inherit; */
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 5px;
        
}

.column-1-footer{
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    box-sizing: inherit;
}

.column-1-2-footer{
    justify-content: flex-start;
    align-content: flex-start;
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    box-sizing: inherit;
}

.column-1-3-footer{
    justify-content: center;
    align-content: center;
    align-items:center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    box-sizing: inherit;
}

.segunda-parte{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.titulo-donde-encontrarnos{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;

    color: #ffffff;
}

.content.has-text-centered{
    background-color: #1D1D1D;
    margin-top: 50px;
}

.content.has-text-centered> p{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-align: center;

    color: #707070;
}